/* Reset some default styles */
body {
    background-color: #F3F2F0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}

/* Login container */
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Form styling */
form {
    border-radius: 20px;
    background-color: white;
    box-shadow: 30px 30px rgba(0, 0, 0, 0.841);
    height: 50vh;
    width: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Input fields */
input {
    padding: 5px;
    margin: 10px;
    width: 200px;
    height: 30px;
    border: thin solid black;
    border-radius: 10px;
    text-align: center;
    outline: none;
}

/* Login button */
#login {
    margin: 15px;
    color: white;
    border: none;
    width: 205px;
    height: 45px;
    border-radius: 10px;
    background-color: black;
    cursor: pointer;
}

/* Label */
#label {
    display: flex;
    align-items: center;
}

h1 {
    margin-right: 8px;
}

/* Links */
a {
    margin: 3.25px;
    text-decoration: none;
    color: black;
    font-size: 12px;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.red-border {
    border: thin solid rgb(255, 117, 117);
}
