body
{
    background-color: #F3F2F0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin:0;
    padding:0;
}

div
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form
{
    border-radius: 20px;
    background-color: white;
    box-shadow: 30px 30px rgb(0, 0, 0);
    height: 50vh;
    width: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input
{
    padding: 5px;
    margin: 10px;
    width: 200px;
    height: 30px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: thin;
    border-radius: 10px;
    text-align: center;
}

button
{
    margin: 15px;
    color: white;
    border: none;
    width: 205px;
    height: 45px;
    border-radius: 10px;
    background-color: black;
}

#label
{
    display: flex;
    align-items: center;
}
#emoji
{
    /* display: flex; */
    /* background-color: aliceblue; */
    animation: waving-hand 3s infinite;
    font-size: 30px;
}
h1
{
    margin-right: 8px;
}

@keyframes waving-hand 
{
    0% 
    {
        transform: rotate(0deg);
    }
    10%
    {
        transform: rotate(14deg);
    }
    20%
    {
        transform: rotate(-8deg);
    }
    30%
    {
        transform: rotate(14deg);
    }
    40%
    {
        transform: rotate(-4deg);
    }
    50%
    {
        transform: rotate(10deg);
    }
    60%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}

